.error {
    color: red;
    display: hidden;
}

.mainchat {
    position: inherit;
    border-color: black;
    border-width: 2px;
    overflow-x: hidden;
    border-style: solid;
    margin: auto;
    width: 750px;
    height: 400px;
}

.message {
    display: block;
    position: relative;
    left: 0.5%;
}

.highlight-message {
    display: block;
    position: relative;
    left: 0.5%;
    background-color: rgb(224, 224, 224);
    width: 100%;
}

.mesasgeinput {
    width: 475px;
}

.btn {
    width: 132px;
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media only screen and (max-width: 500px) {
    .mainchat {
        position: inherit;
        border-color: black;
        border-width: 2px;
        overflow-x: hidden;
        border-style: solid;
        margin: auto;
        width: 465px;
        height: 600px;
    }

    .mesasgeinput {
        width: 455px;
    }
}