.bg {
    color: white;
}

.error {
    color: red;
    display: hidden;
}

.mainchat {
    position: inherit;
    border-color: black;
    border-width: 2px;
    overflow: hidden;
    border-style: solid;
    margin: auto;
    width: 600px;
    height: 350px;
}

.message {
    position: relative;
    left: 0.5%;
}

.mesasgeinput {
    width: 475px;
}