<!DOCTYPE html>
<html class='bg'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Temp Talk - Home</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel='icon' type='image/x-icon' href='static/images/telux.png'>
</head>

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
<script src="static/js/index.js"></script>
  
<body>
  <center>
    <h1>Home</h1>
    <p>chat, call, or video call with people here</p>
    <input type="button" value="Chat" onclick="window.location.href='/chat'">
    <br><br>
    <input type="button" value="Random Chat" onclick="">
    <br><br>
    <input type="button" value="Call" onclick="">
    <br><br>
    <input type="button" value="Random Call" onclick="">
    <br><br>
    <input type="button" value="Sign Out" onclick="signOut()">
  </center>
</body>
  
</html>
