<!DOCTYPE html>
<html class='bg'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Temp Talk</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel='icon' type='image/x-icon' href='static/images/icon.ico'>
</head>

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
<script src="static/js/index.js"></script>
  
<body>
  <center>
    <h1>Temp Talk</h1>
    <p>thingy about talking to random people online thought text, call, or video!!</p>
    <input type="button" value="Sign Up" onclick="window.location.href='/signup'" class="btn">
    <br><br>
    <input type="button" value="Sign In" onclick="window.location.href='/signin'" class="btn">
  </center>
</body>
  
</html>
