<!DOCTYPE html>
<html class='bg'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Temp Talk - Random Chat</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel='icon' type='image/x-icon' href='static/images/telux.png'>
</head>

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
<script src="static/js/random-chat.js"></script>

<body>
  <center>
    <h1>Random Chat</h1>
    <p>a random chat with a random user for anywhere in the world</p>
  </center>
  <div class="mainchat" id="mainchat">
  </div>
  <center>
    <br>
    <input type="text" id="inputtextchat" placeholder="ur message here..." class="mesasgeinput">
    <input type="button" value="Send Message" onclick="sendMessage()" class="btn"> <input type="button" value="Skip User" onclick="leaveRoom()" class="btn">
    <br><br>
    <span class='error' id="error"></span>
  </center>
</body>
  
</html>