<!DOCTYPE html>
<html class='bg'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Temp AI - Login</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel='icon' type='image/x-icon' href='static/images/telux.png'>
</head>

<script src="static/script.js"></script>
  
<body>
  <center>
    <h1>Sign Up</h1>
    <input type="text" id="username">
    <br>
    <input type="password" id="password">
    <br>
    <input type="button" id="signup" onclick="createAccount(); alert('started')" value="Sign Up">
  </center>
</body>
  
</html>
