<!DOCTYPE html>
<html class='bg'>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Temp Talk - Chat</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link rel='icon' type='image/x-icon' href='static/images/icon.ico'>
</head>

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
<script src="static/js/voice.js"></script>
  
<body>
  <center>
    <h1>Random Call</h1>
    <p>a random call with a random person</p>
  </center>
  <div class="mainchat" id="voice">
  </div>
  <center>
    <br>
    <input type="button" value="Skip User" onclick="skipUser()" class="btn">
    <br><br>
    <span class='error' id="error"></span>
  </center>
</body>
  
</html>